<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- External CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/signup.css')}}" type="text/css">

    <title>Sign Up</title>
</head>

<body>
    <!-- Main Sign Up Section -->
    <div class="main_signup">
        <p class="signup-text">Sign Up to continue</p>
        
        <!-- Email Input -->
        <input type="text" class="input-signup signup-email-pw" id="email" name="email" placeholder="Email">
        
        <!-- Password Input -->
        <input type="password" class="input-signup signup-email-pw" id="signuppassword" name="password" placeholder="Password">
        
        <!-- Sign Up Button -->
        <button class="input-signup signup-after">Sign Up</button>
    </div>

    <!-- Already have an account section -->
    <div class="already">
        <p class="already-text">Already have an account? <a href="/">Log in</a></p>
    </div>

    <!-- External JavaScript -->
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>

</html>
